body {
  margin: 0;
  background-color: rgb(33, 28, 60) !important;
  height: 100vh;
}

.content-container {
  min-height: 100vh;
  background-color: rgb(33, 28, 60) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-background {
  width: 80%;
  height: 60vh;
}

.card-container {
  height: 70vh;
  width: 60vw !important;
  border-radius: 6px !important;
}

.card-selection {
  background-color: rgb(24, 60, 232);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 20% !important;
}

.logo-quizapp {
  margin-top: 48px;
  height: 80px;
}

.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  gap: 32px;
  width: 100%;
}

.category {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: all 125ms ease-in-out;
}
.category:hover {
  transform: scale(1.1);
  border-left: 4px solid white;
}

.card-title {
  font-size: 32px;
  padding-bottom: 12px;
}

.question-answer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80% !important;
  background-color: rgb(247, 247, 246);
  object-fit: cover;
}

.answer-container {
  width: 80% !important;
}

.answer-card:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.answer-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  cursor: pointer;
  transition: all 125ms ease-in-out;
}

.letter-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(24, 60, 232, 0.8);
  color: white;
  width: 32px;
  height: 32px;
  font-size: 12px;
  z-index: 2;
}

.footer-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding-left: 48px;
  padding-right: 48px;
}

.quiz-button:hover {
  transform: scale(1.1);
}

.bg-success,
.bg-danger {
  color: white !important;
}

.endscreen-container {
  background-color: rgb(247, 213, 187);
  border-radius: 100%;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.endscreen-background-img {
  margin-top: 32px;
  height: 200px;
  object-fit: cover;
  padding-bottom: 32px;
}

.your-score-container {
  padding-top: 56px;
  padding-bottom: 40px;
}

.your-score-text {
  color: blue;
  padding-right: 56px;
}

.progress {
  z-index: 999 !important;
}
