body {
  margin: 0;
  background-color: rgb(33, 28, 60) !important;
  height: 100vh;
  overflow: hidden;
}

.navbar-brand {
  cursor: pointer;
  transition: all 125ms ease-in-out;
}

.navbar-impressum {
  cursor: pointer;
  transition: all 125ms ease-in-out;
}

.navbar-brand:hover {
 color: rgb(24, 60, 232) !important;
 transform: scale(1.1);
}

.navbar-impressum:hover {
  color: rgb(24, 60, 232);
  transform: scale(1.1);
}

.impressum-headline {
  font-size: 32px;
}

.second-headline-impressum {
  font-size: 16px;
}

.link-impressum {
  cursor: pointer;
  color: black;
  text-decoration: none;
  padding-bottom: 12px;
}

.link-impressum:hover {
  color: rgb(24, 60, 232);
}

.impressum {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
}

.content-container {
  min-height: 100vh;
  background-color: rgb(33, 28, 60) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  width: 100%;
  height: 100%;
  gap: 24px;
}

.home-page-headline {
  font-size: 32px;
}

.home-page-secondline {
  font-size: 14px;
}

.home-page-logo {
  height: 160px;
}

.card-container {
  height: 70vh;
  width: 60vw !important;
  border-radius: 6px !important;
}

.card-selection {
  background-color: rgb(24, 60, 232);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 20% !important;
}

.logo-quizapp {
  margin-top: 48px;
  height: 80px;
}

.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  gap: 32px;
  width: 100%;
}

.category {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: all 125ms ease-in-out;
}

.category:hover {
  transform: scale(1.1);
  border-left: 4px solid white;
}

.card-title {
  font-size: 22px;
  padding-top: 56px !important;
  padding-bottom: 12px;
}

.question-answer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80% !important;
  min-height: 500px;
  background-color: rgb(247, 247, 246);
  object-fit: cover;
}

.answer-container {
  width: 80% !important;
}

.answer-card:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.answer-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  cursor: pointer;
  transition: all 125ms ease-in-out;
}

.letter-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(24, 60, 232, 0.8);
  color: white;
  width: 32px;
  height: 32px;
  font-size: 12px;
  z-index: 2;
}

.footer-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding-left: 48px;
  padding-right: 48px;
}

.quiz-button:hover {
  transform: scale(1.1);
}

.bg-success,
.bg-danger {
  color: white !important;
}

.endscreen-container {
  background-color: rgb(247, 213, 187);
  border-radius: 100%;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.endscreen-background-img {
  margin-top: 32px;
  height: 200px;
  object-fit: cover;
  padding-bottom: 32px;
}

.your-score-container {
  padding-top: 56px;
  padding-bottom: 40px;
}

.your-score-text {
  color: blue;
  padding-right: 56px;
}

.progress {
  border-radius: 0 !important;
}

@media (max-width: 1200px) {
  .endscreen-container {
    height: 380px;
    width: 380px;
  }
  .endscreen-background-img {
    margin-top: 24px;
    padding-bottom: 24px;
  }
  .your-score-container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .home-page-headline {
    font-size: 26px !important;
  }

  .home-page-secondline {
    font-size: 12px;
  }
}

@media (max-width: 850px) {
  body {
    background-color: white !important;
  }
  .content-container {
    display: unset;
    width: 100% !important;
  }
  .card {
    width: 100%;
    --bs-card-border-color: white !important;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }
  .card-selection {
    width: 100% !important;
    background-color: white !important;
  }
  .category-container {
    flex-direction: row;
    margin-top: 16px;
    padding: 8px;
    font-size: 12px;
    border-bottom: solid 1px rgb(24, 60, 232);
  }

  .category {
    color: black;
  }

  .category:hover {
    border-left: transparent;
    color: rgb(24, 60, 232);
  }

  .logo-quizapp {
    display: none;
  }
  .card-container {
    height: 100% !important;
    width: 100%;
  }

  .card-title {
    font-size: 16px;
  }

  .question-answer-container {
    width: 100% !important;
    background-color: white !important;
  }

  .answer-container {
    width: 100% !important;
  }

  .footer-card {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 420px) {
  .home-page-container {
    padding: 12px;
  }
  .home-page-headline {
    font-size: 20px !important;
  }

  .home-page-secondline {
    font-size: 10px;
  }
  .endscreen-container {
    height: 350px;
    width: 350px;
  }
  .endscreen-background-img {
    margin-top: 20px;
    height: 160px;
    padding-bottom: 20px;
  }
}