body {
  margin: 0;
  background-color: rgb(33, 28, 60) !important;
  height: 100vh;
}

.content-container {
  min-height: 100vh;
  background-color: rgb(33, 28, 60) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  height: 70vh;
  width: 60vw !important;
}

.card-selection {
  background-color: rgb(24, 60, 232);
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 20% !important;
}

.logo-quizapp {
  margin-top: 48px;
  height: 80px;
}

.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  gap: 32px;
  width: 100%;
}

.category {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: all 125ms ease-in-out;
}
.category:hover {
  transform: scale(1.1);
  border-left: 4px solid white;
}

.card-title {
  font-size: 32px;
  padding-bottom: 12px;
}

.answer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80% !important;
    margin-top: 24px !important;
}

.answer-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  cursor: pointer;
  transition: all 125ms ease-in-out;
}

.answer-card:hover {
  transform: scale(1.1);
}


.letter-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  width: 32px;
  height: 32px;
  font-size: 12px;
}

.footer-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.arrow {
  height: 32px;
  cursor: pointer;
  transition: all 125ms ease-in-out;
}

.arrow:hover {
  transform: scale(1.1);
}

